<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
      <div>To view graphical interface go to <a href="/api/graphql">here</a> (if you have not logged in you will get a 401 page)</div>
      <div>To login page go to <a href="/login">here</a></div>
      <div>To logout go to <a href="/logout">here</a></div>
    </body>
</html>